torch
transformers==4.36.2
langchain==0.1.0
langchain-community==0.0.13
langchain-core==0.1.10
langchain-groq
groq
sentence-transformers
peft
bitsandbytes
accelerate
datasets
streamlit
flask
flask-cors
watchdog
pandas
numpy
pypdf
python-dotenv
scikit-learn
bert-score
rouge-score
evaluate
